.navbar-fixed-top {
	border: none;
	background-color: white;
}

body{
	padding-top: 60px; 
	height: 100%; 
	background-color: white;
	font-family: 'Raleway', sans-serif;	
}

.container-content {
	padding-top:5%;
}

.row-text-center {
	text-align: center;
	
	font-weight: 300;
}

.h1-text-format {
	font-size: 5rem; 
	font-weight: 100;
	color: #0000FF;
}

.blue, strong, i:hover{
	color: #0000FF;
}
.gray {
	color: #808080;
}